block variables
doctype html
html(lang="ja", prefix="og: https://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=11")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Mariel Basbas
    meta(description="My name is Mariel. I am a passionate front-end engineer. You can contact me anytime.")
    meta(property="og:title", content="Mariel Basbas")
    meta(propert="og:url", content="http://mvbasbas.com/")
    meta(propert="og:description", content="My name is Mariel. I am a passionate front-end engineer. You can contact me anytime.")
    meta(property="og:image", content="/src/img/ogp.jpg")
    link(rel="icon", type="image/x-icon", href="/src/img/favicon.ico")

    link(rel="stylesheet", href="https://unpkg.com/flickity@2/dist/flickity.min.css")

  body
    .cursor
      .cursor--inner
    include navigation.pug
    block content
    script(src="https://cdn.jsdelivr.net/npm/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js")
    script(src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js")