nav.navigation
  button.navigation__menu
    a.navigation__line.white-bg
    a.navigation__line.white-bg
    a.navigation__line.white-bg
  .navigation__content.white-bg
    .navigation__item
      a.navigation__link(href="#about") About me
    .navigation__item
      a.navigation__link(href="#skills") Skills
    .navigation__item
      a.navigation__link(href="#projects") Projects