.banner {
  position: relative;
  @include center;
  flex-direction: column;
  height: 100vh;
  @include sp {
    width: 100%;
  }

  &__position {
    position: absolute;
    font-size: 2.5rem;
    top: 7.5rem;
    width: 100%;
    font-family: $font-family-galada;
    text-align: center;
  }

  &__eyes {
    width: 55rem;
    display: flex;
    justify-content: space-between;
    @include sp {
      padding: 0 7%;
      width: 37.5rem;
      max-width: 100%;
    }

    img {
      @include sp {
        width: 10rem;
      }

      &:last-child {
        transform: scaleX(-1);
      }
    }
  }

  &__name {
    font-family: $font-family-galada;
    font-size: 5rem;
    line-height: 1em;
    text-align: center;
    @include sp {
      margin-top: 3rem;
    }
  }

  &__easter {
    position: absolute;
    left: 100px;
    bottom: 100px;
    font-size: 20px;
    transform: rotate(-25deg);
    color: $black;
    transition: 0.3s ease;

    &:hover {
      background-color: $white;
    }
  }
}
