.carousel {
  width: 100%;
  height: 53rem;
  padding-bottom: 100px;
  box-sizing: unset;
  @include sp {
    margin-top: 5rem;
    height: 141.34vw;
  }

  &__image-container {
    width: 80rem;
    height: 40.8rem;
    position: relative;
    transition: 0.3s ease;
    max-width: 100%;
    @include sp {
      width: 100%;
      height: 141.34vw;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: 0.3s ease;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__cell {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    width: 98rem;
    height: 53rem;
    cursor: none;
    max-width: 100%;
    @include sp {
      height: 141.34vw;
    }

    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 500px;
      background-clip: padding-box;
      border: 10px solid rgba(0, 0, 0, 0.5);
      box-sizing: border-box;
      transition: 0.3s ease;
      @include sp {
        height: calc(141.34vw - 3rem);
        border-bottom: 30px solid rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__text {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2rem;
    @include sp {
      font-size: 1.8rem;
      padding: 0 3%;
      bottom: 3.2rem;
      color: $white;
      z-index: 5;
    }
  }

  &__title-container {
    position: absolute;
    max-width: 98rem;
    right: 0;
    margin: 0 auto;
    z-index: 5;
    top: -5rem;
    left: -15rem;
    @include mx980 {
      left: 0;
    }
    @include sp {
      width: 90%;
      right: 0;
      top: 0;
    }
  }

  &__title {
    @include sp {
      width: 100%;
    }
  }
}
