.floating {
  position: fixed;
  z-index: 500;
  right: 3rem;
  bottom: 6rem;
  @include sp {
    right: 3%;
    bottom: 8rem;
  }

  &__top {
    width: 6.2rem;
    opacity: 0;
    transition: 0.5s ease;
    margin: 0 auto;
    display: block;
    @include sp {
      width: 4rem;
    }

    &--active {
      opacity: 1;
    }
  }

  &__button {
    width: 6rem;
    height: 6rem;
    outline: 0;
    @include center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: $white;
    border: 0.7rem solid $black;
    @include sp {
      width: 5rem;
      height: 5rem;
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 10px;
      border-radius: 50%;
      background-color: $black;
      transition: 0.3s ease;
    }
  }

  &__item {
    position: absolute;
    background-color: $black;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    @include center;
    top: 0;
    bottom: 1.5rem;
    opacity: 0;
    z-index: -1;
    right: 1rem;
    left: 0;
    transition: 0.5s ease;
  }

  &__contact {
    position: relative;
    margin-top: 1rem;
    @include center;
    width: 6rem;
    height: 6rem;
    @include sp {
      width: 5rem;
      height: 5rem;
    }

    &--active {
      .floating__button {
        &::before {
          height: 90%;
          width: 90%;
        }
      }

      .floating__item {
        top: -20px;
        left: -45px;
        opacity: 1;
        @include sp {
          left: -40px;
        }

        &:nth-child(3) {
          top: 25px;
          left: -60px;
          @include sp {
            top: 20px;
          }
        }

        &:last-child {
          bottom: -35px;
          top: auto;
          left: -24px;
        }
      }
    }
  }
}
