.footer {
  width: 100%;
  padding: 10px;
  font-size: 1.8rem;
  text-align: center;
  background-color: $black;
  color: $white;

  &__link {
    text-decoration: underline;
  }

  &__text {
    position: relative;
    padding: 0 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 20px;
      height: 25px;
      background: {
        image: url('/src/img/whisker.png');
        size: 100%;
        repeat: no-repeat;
      }
      left: 0;
    }

    &::after {
      right: 0;
      left: auto;
      transform: scaleX(-1);
    }
  }
}
