.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 600;
  width: 6rem;
  mix-blend-mode: exclusion;
  height: 4.7rem;
  @include sp {
    width: 100%;
  }

  &__menu {
    position: fixed;
    top: 3rem;
    left: 3rem;
    width: 6rem;
    height: 4.7rem;
    z-index: 600;
    display: flex;
    background: transparent;
    border: 0;
    outline: 0;
    flex-direction: column;
    justify-content: space-between;
    @include sp {
      top: 2rem;
      left: 7%;
      width: 5rem;
      height: 3.5rem;
    }
  }

  &__line {
    height: 0.9rem;
    border-radius: 1rem;
    transition: 0.3s ease;
    width: 100%;
    @include sp {
      height: 0.6rem;
    }
    @for $i from 2 through 3 {
      &:nth-child(#{$i}) {
        width: calc(100% - #{$navLineDecrease});
      }
      $navLineDecrease: $navLineDecrease + 1rem;
    }
  }

  &__content {
    width: 39.5rem;
    height: 100vh;
    transform: translateX(-100%);
    padding: 12rem 5rem 5rem 9rem;
    transition: 0.3s ease;
    @include sp {
      width: 100%;
      padding: 9rem 7%;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__link {
    font-size: 30px;
    font-weight: $font-weight-bold;
  }

  &--active {
    mix-blend-mode: unset;

    .navigation__line {
      background-color: $black;

      &:nth-child(1) {
        transform: rotate(135deg) translate(1.7rem, -1rem);
        @include sp {
          transform: rotate(135deg) translate(1.2rem, -0.5rem);
        }
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:nth-child(3) {
        transform: rotate(-135deg) translate(1.6rem, 1rem);
        width: 100%;
        @include sp {
          transform: rotate(-135deg) translate(1.4rem, 0.9rem);
        }
      }
    }

    .navigation__content {
      transform: translateX(0);
    }
  }
}
