.section {
  overflow: hidden;
  position: relative;

  &--no-overflow {
    overflow: visible;
    min-height: unset;
  }

  &__main-title {
    position: relative;
  }

  &__left {
    position: relative;
    width: 51.5rem;
    height: 48.5rem;
    left: -1px;
    overflow: hidden;
    @include sp {
      width: 100%;
      height: 88vw;
      left: 0;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      top: 0;
      border-style: solid;
      left: -4.1rem;
      border-width: 48.5rem 27.75rem 0;
      border-color: $dark-gray transparent transparent transparent;
      @include sp {
        border-width: 76vw 48vw 0;
      }
    }
  }

  &__text-container {
    position: relative;
    z-index: 1;
    color: $white;
    font-size: 4rem;
    font-weight: $font-weight-bold;
    padding: 2rem;
    letter-spacing: 0.2em;
    width: 100%;
    @include sp {
      font-size: 8vw;
      width: 85vw;
    }
  }

  &__behind-text {
    position: absolute;
    top: 0;
    opacity: 0.1;
    width: 200%;
    white-space: pre-wrap;
    @include sp {
      width: 500%;
    }

    span {
      display: inline-flex;
      animation: marquee 5s linear infinite;
    }
    @keyframes marquee {
      0% {
        transform: translate(0, 0);
      }

      100% {
        transform: translate(-100%, 0);
      }
    }
  }

  &__title-text {
    text-align: center;
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
  }

  &__right {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 0;
    @include sp {
      z-index: 1;
      height: 100%;
    }
  }

  &__content {
    padding-right: 3%;
    align-self: center;
    @include mx980 {
      margin-left: -10%;
    }
    @include sp {
      padding: 0 6%;
      margin: 2rem 0 5rem;
    }
  }

  &__text {
    font-size: 1.8rem;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__image {
    @include sp {
      height: 100%;
    }
  }

  &:nth-child(odd) {
    justify-content: flex-end;
    @include sp {
      justify-content: flex-start;
    }

    .section__left {
      right: -0.1rem;
      left: auto;
      @include sp {
        right: 0;
      }

      &::after {
        left: auto;
        right: -4.1rem;
        @include sp {
          right: -8.5rem;
        }
      }
    }

    .section__right {
      right: 0;
      left: auto;
    }

    .section__content {
      padding-right: 0;
      padding-left: 3%;
      @include mx980 {
        margin-right: -15%;
        margin-left: 0;
      }
      @include sp {
        order: 1;
        margin: 2rem 0 5rem;
      }
    }

    .section__text-container {
      @include sp {
        margin-left: auto;
      }
    }
  }

  &__link {
    border-bottom: 1px solid;
    font-weight: $font-weight-bold;
  }
}
