.skills {
  display: flex;
  font-size: 2vw;
  @include sp {
    flex-direction: column;
    font-size: 2rem;
  }

  &__list {
    list-style-type: none;

    &:not(:last-child) {
      margin-right: 5vw;
      @include sp {
        margin-right: 0;
      }
    }
  }

  &__item {
    padding-left: 3vw;
    position: relative;
    @include sp {
      padding-left: 3rem;
    }

    &::before {
      content: '</>';
      position: absolute;
      left: 0;
      bottom: 50%;
      transform: translateY(50%);
      font-size: 1.5vw;
      font-weight: $font-weight-bold;
      @include sp {
        font-size: 1.4rem;
      }
    }
  }
}
