//font
@import url('https://fonts.googleapis.com/css2?family=Galada&family=PT+Sans&display=swap');

//logic
$navLineDecrease: 1rem;

//color
$dark-gray: #1a1a1a;
$black: #000;
$white: #fff;

//font-family
$font-family-pt-sans: 'PT Sans', sans-serif;
$font-family-galada: 'Galada', cursive;

//font-weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
