.dark-gray {
  color: $dark-gray;
}

.dark-gray-bg {
  background-color: $dark-gray;
}

.white {
  color: $white;
}

.white-bg {
  background-color: $white;
}

.black {
  color: $black;
}

.black-bg {
  background-color: $black;
}

.overflow {
  overflow: hidden;
}

.sp {
  display: none;
  @include sp {
    display: block;
  }
}

.pc {
  display: block;
  @include sp {
    display: none;
  }
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  pointer-events: none;
  mix-blend-mode: exclusion;
  display: block;
  @include sp {
    display: none;
  }

  &--inner {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
  }

  &--on-link {
    width: 100px;
    height: 100px;
    left: -50px;
    top: -50px;
  }
}
