.is-selected {
  .carousel__image-container {
    width: 100%;
    height: 100%;

    &::after {
      opacity: 0;
    }
  }

  &::after {
    opacity: 1;
  }

  .carousel__text {
    display: block;
  }
}

.flickity-page-dots {
  width: 100%;
  max-width: 98rem;
  left: 0;
  margin: 0 auto;
  right: 0;
  text-align: left;
  bottom: 10rem;

  .dot {
    position: relative;
    width: 2rem;
    height: 2rem;
    opacity: 1;
    cursor: none;
    background: transparent;
    border: 0.3rem solid $black;

    &.is-selected {
      &::after {
        content: '';
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 1rem;
        height: 1rem;
        background-color: $black;
        border-radius: 100%;
      }
    }
  }
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: none;
}
