extends includes/layout.pug
block content
  .banner.black-bg.white
    span.banner__position Front-end Engineer
    .banner__eyes
      img.banner__eyes-image(src="/src/img/cat-eyes.svg", alt="Cat Eyes")
      img.banner__eyes-image(src="/src/img/cat-eyes.svg", alt="Cat Eyes")
    .banner__name
      span Mariel#[br]Basbas
    a.banner__easter(href="/src/img/tyrandori.jpg", target="_blank") my cats (=ↀωↀ=)✧
  section#about.section
    .section__main-title
      .section__left
        .section__text-container
          .section__behind-text
            span About Me About Me 
            span About Me About Me 
          span.section__title-text About Me
      .section__right
        img.section__image(src="/src/img/marielbasbas.png", alt="Mariel Basbas")
    .section__content
      .section__text
        p Hello, you can call me Mariel! I currently work as a Front-end Engineer in a Japan based company. I code frontend web designs from scratch. #[br]I always have a goal in mind when creating one.
        ol
          li It should be 
            b responsive 
            | in all devices.
          li Website is 
            b optimized 
            | for faster loading times.
          li 
            b SEO 
            | is applied.
          li It should 
            b follow the design 
            | created by UX/UI designers.
          li Code is 
            b readable 
            | so other engineers can work on it.
        p Having a good output where there's less comments from both the client and your coworkers will lessen the time spent in developing.
        p You can check my company portfolio here -> 
          a.section__link(href="https://up-ward.info/members/member-basbas/", target="_blank") https://up-ward.info/members/member-basbas/
  section#skills.section
    .section__content
      .skills
        ul.skills__list
          li.skills__item HTML/CSS/Javascript
          li.skills__item PUG
          li.skills__item SASS
          li.skills__item Wordpress PHP Development
        ul.skills__list
          li.skills__item Adobe Photoshop
          li.skills__item BEM
          li.skills__item Stylelint/Eslint
          li.skills__item Webpack Configuration
    .section__main-title
      .section__left
        .section__text-container
          .section__behind-text
            span Skills Skills Skills 
            span Skills Skills Skills 
          span.section__title-text Skills
      .section__right
        img.section__image(src="/src/img/skills.png", alt="Skills")
  section#projects.section.section--no-overflow
    .carousel__title-container
      img.carousel__title(src="/src/img/projects-title.png", alt="PROJECTS")
    .carousel
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/ishinjuku.jpg", alt="Ishinjuku")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/ishinjuku-sp.jpg", alt="Ishinjuku")
        span.carousel__text My first project
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/castellblanc-cava.jpg", alt="Castellblanc Cava")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/castellblanc-cava-sp.jpg", alt="Castellblanc Cava")
        span.carousel__text My first project where I worked with people
      .carousel__cell
        .carousel__image-container
          img.carousel__image.pc(src="/src/img/sunalab.JPG", alt="Suna-Lab")
          img.carousel__image.sp(data-flickity-lazyload="/src/img/sunalab-sp.JPG", alt="Suna-Lab")
        span.carousel__text My latest published project
  .floating
    a
      img.floating__top(src="/src/img/top.png", alt="Back top")
    .floating__contact
      button.floating__button
      a.floating__item(href="https://gitlab.com/Mariri", target="_blank")
        img.floating__icon(src="/src/img/gitlab.png", alt="Gitlab")
      a.floating__item(href="mailto:mvbasbas@gmail.com")
        img.floating__icon(src="/src/img/gmail.png", alt="Gmail")
      a.floating__item(href="tel:09216031648")
        img.floating__icon(src="/src/img/call-icon.png", alt="Call Icon")
  footer.footer
    .footer__text
      span Thank you for visiting! You can check the source code 
        a.footer__link(href="https://gitlab.com/Mariri/personal-profile", target="_blank") here
        | .