html {
  font-family: $font-family-pt-sans;
  color: $black;
  font-size: 62.5%;
  letter-spacing: 0.03em;
  cursor: none;
  @include sp {
    min-width: 100%;
  }
}

section {
  display: flex;
  min-height: 76.8rem;
  background-color: $white;
  @include sp {
    flex-direction: column;
    min-height: unset;
  }
}

button,
a {
  cursor: none;
}
